{:deps     {:aliases [:dev]}
 :dev-http {8000 "classpath:public"}
 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"
                   :modules    {:main {:init-fn fulcro3-simple-app.client/init
                                       :entries [fulcro3-simple-app.client]}}
                   :devtools   {:after-load fulcro3-simple-app.client/refresh
                                :preloads   [com.fulcrologic.fulcro.inspect.preload]}}}}
